.social-container {
    background: #636262;
    padding: 25px 50px;
    height: 200px;
  }
  a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }
  a.social:hover {
    transform: translateY(-2px);
  }
 
  
  a.facebook {
    color: blue;
    font-size: 22px;
  align-items: center;
  justify-content: center;
    }
  
 
  
  a.instagram {
    color: black;
  }